<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    

            img {
                max-width: 100%;
                height: auto !important;
                }
    </style>
</head>
<body>
    
    {% for post in posts  %}
    <div style="border: 1px solid blue;">
        <h1>{{post.title}}</h1>
        <p>{{post.description | safe}}</p>
        <br>
        <a href="{% url 'post_update' post.id %}">Update</a>
        <a href="{% url 'post_delete' post.id %}">Delete</a>
    </div>
    <br>
       
    {% endfor %}
        
</body>
</html>